.card {
  width: 120px;
  height: 150px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  background-color: lightblue;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.icons {
  width: 50px;
}

.cardBox {
  margin: auto;
  width: 80%;
  height: 50%;
}
