table {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr,
td,
th {
  text-align: center;
  /* border: 1px solid black; */

  white-space: nowrap;
}

th {
  width: 10% !important;
}

input {
  width: 20px;
}

.input {
  border: none;
  border-radius: 3px;
  background-color: #e9eaea;
  width: 40px;
  height: 20px;
  color: #8e8e8e;
}

.saveButton {
  border: none;
  border-radius: 3px;
  background-color: #e9eaea;
  width: 22px;
  height: 20px;
}

.title {
  color: #38adff;
}
